<mat-expansion-panel hideToggle *ngIf="videogame" [ngStyle]="{ backgroundColor: getColor() }">
    <mat-expansion-panel-header>
      <mat-panel-title [ngClass]="{ 'completed' : videogame.alreadyFinished }">
        <mat-checkbox [checked]="videogame.alreadyFinished" (change)="changeAlreadyFinished()"></mat-checkbox>
        {{videogame.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
        <li *ngIf="videogame?.description"><strong>Description: </strong> {{videogame.description}} </li>
        <li *ngIf="videogame?.rate"><strong>Rate: </strong> {{videogame.rate}} </li>
        <li><strong>Already finished: </strong> {{videogame.alreadyFinished}} </li>
    </ul>
  </mat-expansion-panel>